APP_NAME="AKALIN TECH E-COMMERCE"
APP_ENV=local
APP_KEY= # generate with: php artisan key:generate
APP_DEBUG=true
APP_TIMEZONE=Europe/Istanbul
APP_URL=http://localhost:2121

APP_PORT=2121

SANCTUM_STATEFUL_DOMAINS=localhost:000,localhost:0,akalintech.test:2121
SANCTUM_TOKEN_PREFIX=sanctum_token_prefix_
MOBILE_APP_URL=your-production-app-url

APP_LOCALE=tr
APP_FALLBACK_LOCALE=tr
APP_FAKER_LOCALE=tr_TR

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database (works out of the box with the bundled Docker PostgreSQL service)
DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=ecommerce
DB_USERNAME=sail
DB_PASSWORD=password


SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=your-smtp-host.com
MAIL_PORT=465
MAIL_USERNAME=your-mail-gmail
MAIL_PASSWORD=your-gmail-app-password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="mygoogle@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# TYPESENSE for blazing fast search
SCOUT_DRIVER=typesense
TYPESENSE_HOST=typesense
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=xyz

IYZIPAY_API_KEY=your-iyzico-api-key
IYZIPAY_SECRET_KEY=your-iyzico-secret-key
IYZIPAY_BASE_URL=https://api.iyzipay.com # https://sandbox-api.iyzipay.com

# google oauth login url: https://console.cloud.google.com/apis/credentials/oauthclient/
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=your-google-redirect-uri

# facebook oauth login
FACEBOOK_CLIENT_ID=YOUR_FACEBOOK_CLIENT_ID
FACEBOOK_CLIENT_SECRET=YOUR_FACEBOOK_CLIENT_SECRET
FACEBOOK_REDIRECT=YOUR_FACEBOOK_REDIRECT

# github oauth login
GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET
GITHUB_REDIRECT=YOUR_GITHUB_REDIRECT
OPENAI_API_KEY=YOUR-OPENAI-API-KEY
HUGGINGFACE_API_KEY=YOUR-HUGGINGFACE-API-KEY


ADMIN_PASSWORD=YOUR-ADMIN-PASSWORD
TEST_PASSWORD=YOUR-TEST-PASSWORD
GOOGLE_CLIENT_ID_ANDROID=
GOOGLE_CLIENT_SECRET_ANDROID=
GOOGLE_REDIRECT_URI_ANDROID=
